*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

.logo {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #aa882c;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    color: white;
    display:block;
    padding: 16px 16px;
    
}

li a:hover {
    background-color: #55555559;
    color: #fff;
}

.search {
    margin-right: 25px;
    width: 300px;
    height: 35px;
    padding: 7px;
    padding-left: 15px;
    border-radius: 25px;
    border-style: none;
}

body::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../public/Wallpaper.jpg');
    background-position: center;
    background-size: contain;
    background-repeat:repeat;
    background-color: #f8f5f4;
    z-index: -1;
    opacity: 0.2;
}