*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

.logo {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aa882c;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    color: white;
    display:block;
    padding: 18px 18px;
    
}

li a:hover {
    background-color: #55555559;
    color: #fff;
}

.menu li{
    position: relative;
    float: left;
}

.menu p{
    color: white;
    margin-right: 5px;
}

.menu li ul{
    width: 150px;
    position: absolute;
    top: 51px;
    left: -6rem;
    background-color: #fff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul{
    display: block;
}

.menu li ul li{
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}
.menu img{
    cursor: pointer;
    margin-right: 25px;
}

.menu ul a{
    color: black;
}

h1{
    font-size: 70px;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-family:'Lobster Two', cursive;;
}

.btn_orcamento{
    display: flex;
    gap: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
}

button {
    width: 500px;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #896e23;
    color: white;
}
button:hover{
    background-color: #745d1d;
    color: #fff;
}

.calc {
    width: 100px;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

body::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../public/Wallpaper.jpg');
    background-position: center;
    background-size: contain;
    background-repeat:repeat;
    background-color: #f8f5f4;
    z-index: -1;
    opacity: 0.2;
}

.personalize{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.select{
    background-color: red;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.imagem{
    background-color: red;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}