*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

.logo {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aa882c;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    color: white;
    display:block;
    padding: 18px 18px;
    
}

li a:hover {
    background-color: #55555559;
    color: #fff;
}

.menu li{
    position: relative;
    float: left;
}

.menu p{
    color: white;
    margin-right: 5px;
}

.menu li ul{
    width: 150px;
    position: absolute;
    top: 51px;
    left: -6rem;
    background-color: #fff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul{
    display: block;
}

.menu li ul li{
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}
.menu img{
    cursor: pointer;
    margin-right: 25px;
}

.menu ul a{
    color: black;
}

.search {
    margin-right: 25px;
    width: 300px;
    height: 35px;
    padding: 7px;
    padding-left: 15px;
    border-radius: 25px;
    border-style: none;
}

body::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../public/Wallpaper.jpg');
    background-position: center;
    background-size: contain;
    background-repeat:repeat;
    background-color: #f8f5f4;
    z-index: -1;
    opacity: 0.2;
}

.card img{
    width: 48px;

}

section{
    color: #212121;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section div{
    width: 300px;
    height: 600px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 9px 6px 10px -1px #a5a5a5;
    flex-direction: column;
}

section .plano:nth-child(2){
    background-color: #aa882c;
}

/* Card text */


.plano{
    padding-top: 0px;
}


.preco{
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-direction: row;
    width: 300px;
    height: 50px;
    background-color: #55555500;
    border: none;
    box-shadow: none;
    margin: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.preco h3{
    font-size: 14px;
    margin-bottom: 35px;
}

.preco h1{
    font-size: 55px;
}

.plano p{
    text-align: center;
    margin-bottom: 2px;
}

hr{
    width: 280px;
    border: solid 1px #212121;
    margin: 10px;
}

.plano button{
    background-color: #212121;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 20px 60px 20px 60px;
    margin-bottom: 20px;
}
.plano button:hover{
    background-color: #313131;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 20px 60px 20px 60px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 10px #212121;
}